{% extends "base.html" %}
{% block structure %}
{% include 'inc/structure.html'%}
{% endblock %}

{% block content %}
    {% load console_tags %}
    {% if roles|dictitem:'hod' %}
        {% include 'console/super_view.html'%}
    {% elif roles|dictitem:'employee' %}
        {% include 'console/emp_view.html'%}
    {% elif roles|dictitem:'hrexcec' %}
        {% include 'console/hr_view.html'%}
    {% elif roles|dictitem:'hrhead' %}
        {% include 'console/hr_view.html'%}
    {% elif roles|dictitem:'admofficer' %}
        {% include 'console/super_view.html'%}
    {% elif roles|dictitem:'cao' %}
        {% include 'console/super_view.html'%}
    {% endif %}

{% endblock %}
{% block footer%}
<script>
    <!--
            function getConfirmation() {
               var retVal = confirm("Do you want to continue ?");
               if( retVal == true ) {
                  return true;
               } else {
                  return false
               }
            }
         //-->
 </script>
{% include 'inc/footer.html' %}
{% endblock %}